# Demo Calculations

This is a demo report that was run on a smaller dataset for the demo video.

In [1]:
import pandas as pd
from sklearn import metrics
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = (15,8)

In [2]:
preproc = pd.read_csv(filepath_or_buffer='data/processed_ads.csv', index_col=0, engine='python', skipinitialspace=True, quotechar="\"", quoting=1)
preproc[['title category','title']].groupby('title category', dropna=False).count().rename(columns={'title': 'count'})

                    count
title category
manager               118
software developer     34
software engineer      27
NaN                    52

In [3]:
skill_counts = pd.read_csv(filepath_or_buffer='data/skill_counts.csv', index_col=0, engine='python', skipinitialspace=True, quotechar="\"", quoting=2).sort_values(by=['Count'], ascending=False)
skill_counts

                                   Title Category  Count
Skill
work work                                 manager    153
experience experience                         NaN    147
experience experience                     manager    126
team team                                 manager    122
experience experience          software developer    111
...                                           ...    ...
www.aramark.ca www.aramark.ca             manager      1
kpmg manger                               manager      1
technical pull                                NaN      1
elaboration elaboration                       NaN      1
memory management               software engineer      1

[12663 rows x 2 columns]

In [6]:
# Take the first 20'000 rows to get samples of equal shape (note that we sorted by count descending in the last step)
software_skills = skill_counts.loc[skill_counts['Title Category'] == 'software developer'].index[:5000]
manager_skills = skill_counts.loc[skill_counts['Title Category'] == 'manager'].index[:5000]

intersect = len(set(software_skills).intersection(set(manager_skills)))
jaccard = intersect / (len(software_skills) + len(manager_skills) - intersect)
print(f"{jaccard*100:.3f}%")

10.898%

In [5]:
# Take the first 20'000 rows to get samples of equal shape (note that we sorted by count descending in the last step)
software_skills = skill_counts.loc[skill_counts['Title Category'] == 'software developer'].index[:100]
manager_skills = skill_counts.loc[skill_counts['Title Category'] == 'manager'].index[:100]

intersect = len(set(software_skills).intersection(set(manager_skills)))
jaccard = intersect / (len(software_skills) + len(manager_skills) - intersect)
print(f"{jaccard*100:.3f}%")

28.205%