In [1]:
import pandas as pd
from sklearn import metrics
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = (15,8)

In [2]:
preproc = pd.read_csv(filepath_or_buffer='data/processed_ads.csv', index_col=0, engine='python', skipinitialspace=True, quotechar="\"", quoting=1)
preproc[['title category','title']].groupby('title category', dropna=False).count().rename(columns={'title': 'count'})

                count
title category
manager           123

In [3]:
skill_counts = pd.read_csv(filepath_or_buffer='data/skill_counts.csv', index_col=0, engine='python', skipinitialspace=True, quotechar="\"", quoting=2).sort_values(by=['Count'], ascending=False)
skill_counts

                      Title Category  Count
Skill
team team                    manager    167
experience experience        manager    163
ability ability              manager    145
work work                    manager    121
a team                       manager    107
...                              ...    ...
bccdc authority              manager      1
key partner                  manager      1
an process                   manager      1
effective case               manager      1
political protect            manager      1

[6248 rows x 2 columns]

In [4]:
# Take the first 20'000 rows to get samples of equal shape (note that we sorted by count descending in the last step)
software_skills = skill_counts.loc[skill_counts['Title Category'] == 'software developer'].index[:20000]
manager_skills = skill_counts.loc[skill_counts['Title Category'] == 'manager'].index[:20000]

intersect = len(set(software_skills).intersection(set(manager_skills)))
jaccard = intersect / (len(software_skills) + len(manager_skills) - intersect)
print(f"{jaccard*100:.3f}%")

0.000%

In [5]:
# Take the first 20'000 rows to get samples of equal shape (note that we sorted by count descending in the last step)
software_skills = skill_counts.loc[skill_counts['Title Category'] == 'software developer'].index[:100]
manager_skills = skill_counts.loc[skill_counts['Title Category'] == 'manager'].index[:100]

intersect = len(set(software_skills).intersection(set(manager_skills)))
jaccard = intersect / (len(software_skills) + len(manager_skills) - intersect)
print(f"{jaccard*100:.3f}%")

0.000%